/* USER VARIABLES SECTION */

:root {
	--accent: #5d0606!important;
	--text: #000;
	--regular-text: 16px;
	--lineheight: 1.65;
	--userfont: roboto-st, sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

/* BOOTSTRAP SETTINGS SECTION */

/* gutter 20px (10px + 10px). Comment this code for default gutter start at 1.5rem (24px) wide. */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { --bs-gutter-x: .625rem; }
.row, .row > * { --bs-gutter-x: 1.25rem; }

/* FONTS LOAD SECTION */

@font-face { src: url("../fonts/Barlow-Regular.woff2") format("woff2"); font-family: "barlow"; font-weight: 400; font-style: normal; }
@font-face { src: url("../fonts/Barlow-Bold.woff2") format("woff2"); font-family: "barlow"; font-weight: 700; font-style: normal; }

/* GENERAL CSS SETTINGS */

::placeholder { color: #666; }
::selection { background-color: var(--accent); color: #fff; }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

body {
	font-family: var(--userfont);
	font-size: var(--regular-text);
	line-height: var(--lineheight);
	color: var(--text);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
	background: #000;
	background-image: url(../images/axe.webp);
	background-size: auto!important;
	background-position: 50% 50%!important;
}

/* USER STYLES */

.image {
	max-width: 100%;
	margin-bottom: var(--bs-gutter-x);
	border-radius: 4px;
}

.accent {
	color: var(--accent);
	
}
.slider-title .main-btn,header .main-btn{
	background: #fff;
	border: 1px solid #fff;
	color: #000;
}
.slider-title .main-btn:hover,header .main-btn:hover{
	background: var(--accent);
	color: #fff;
	border: 1px solid rgb(51, 51, 51);
}
.slider-title .main-btn{
	margin-bottom: 10px;
}
.slider-title .main-btn:last-child{
	margin-bottom: 0;
}
.main-btn{
	border: none;
	background: var(--accent);
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	font-weight: bold;
	padding: 16px 20px;
	text-decoration: none;
	color: var(--text);
	min-width: 180px;
	text-transform: uppercase;
	transition: 0.2s ease all;
	border: 1px solid var(--accent);
	color: #fff;
}
.main-btn:hover{
	background: #000;
	color: #fff;
	text-decoration: none;
	border: 1px solid rgb(51, 51, 51);
}
.top-contacts{
	background: var(--accent);
}
.c-widgets{
	display: flex;
	justify-content: space-between;
}
.location{
	text-transform: uppercase;
	font-weight: 700;
}
.c-widget{
	color: #fff;
	
}
.c-widget a{
	color: #fff;
	text-decoration: none;
}
.c-contact i{
	margin-right: 10px;
}
.c-contact span{
	margin-right: 15px;
	font-size: 14px;
}
.c-contact span:last-child{
	margin-right: 0;
}
.h-widgets {
	display: flex;
	justify-content: space-between;
	height: 100%;
	align-items: center;
}
a.logo img {
	width: 86%;
	display: block;
	margin: -51px auto;
}
.h-widget {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 26%;
}
.h-widget ul{
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	display: flex;
	align-items: center;
}
.h-widget ul li{
	margin-right: 15px;
}
.h-widget ul li a{
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}
.h-widget ul li:last-child{
	margin-right: 0;
}
.hero .swiper-slide{
	height: 85vh;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
a.logo {
	z-index: 100;
}
.slider-title {
	position: absolute;
	top: 0;
	z-index: 100;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	color: #fff;
	text-transform: uppercase;
}
.slider-title h2{
	text-shadow: rgb(93 6 6) 0px 0px 15px;
	font-size: 50px;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 0;
}
.slider-title h3{
	font-size: 48px;
	font-weight: 700;
	margin: 8px 0 15px 0;
}
.slider-title h4{
	letter-spacing: 0.35em;
	text-shadow: rgb(93 6 6) 0px 0px 15px;
	font-weight: 700;
	margin: 8px 0;
	line-height: 1.5;
}
.slider-title p{
	text-transform: initial;
}
.slider-title p span{
	font-weight: 700;
	font-size: 24px;
	text-shadow: rgb(93 6 6) 0px 0px 15px;
	text-transform: uppercase;
}
.first-frame{
	position: relative;
}
.first-frame .hero-overlay{
	z-index: 11;
}
.hero-overlay{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgb(0 0 0 / 46%);
	width: 100%;
	height: 100%;
}
.prices{
	background: url('../images/bg-alt.webp') no-repeat;
	background-size: cover;
	background-position: 50% 50%!important;
}
.prices::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgb(0 0 0 / 46%);
	width: 100%;
	height: 100%;
	z-index: -1;
}
section{
	position: relative;
	z-index: 1;
}
.price-widgets {
	margin: -100px 0 0!important;
	display: flex;
	justify-content: space-between;
}
.price-widget{
	width: 100%;
	
}
.price-widget{
	background: #fff;
	color: #000;
	text-align: center;
}
.price-widget:first-child{
	background: #000;
	background-image: url(../images/axe.webp);
	background-repeat: repeat;
	background-size: auto;
	background-position: 43% 50%;
	color: #fff;
	text-align: center;
	padding: 30px;
	margin: 0;
}
.price-widget:nth-child(2){
	color: var(--accent);
}
.price-widget:nth-child(2) h2{
	color: #000;
}
.price-widget:nth-child(2),.price-widget:nth-child(3){
	padding-top: 30px;
	padding-bottom: 30px;
}
.price-widget:nth-child(3){
	border-left: 1px solid var(--accent);
}
.price-widget:nth-child(3) .price-widget-title img{
	width: 20%;
}
.price-widget h1{
	font-weight: 700;
	font-size: 39px;
}
.divider {
	display: block;
	margin: auto;
	width: 19%;
	background: #fff;
}
.price-widget:first-child a{
	color: #fff;
}
.price-widget p{
	margin-bottom: 20px;

}
.price-item p{
	margin: 10px 81px;
}
.price-widget p:last-child{
	margin-bottom: 0;
}
.price-widget-title{
	display: flex;
	align-items: center;
	justify-content: center;
}
.price-widget-title img{
	width: 15%;
}
.price-widget-title h2{
	margin-bottom: 0;
	margin-left: 20px;
	font-weight: 700;
}
.price-item p{
	margin-bottom: 5px;
	line-height: 1.3;
}
.price-item p span{
	font-weight: 700;
}
.price-item{
	margin-top: 30px;
}
.price-item h3{
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 0;
}
.price-item img{
	width: 20%;
	margin: auto;
}
.price-item a{
	color: #000;
	font-weight: 700;
	font-size: 14px;
}
.price-item p a{
	color: var(--accent);
}
.select-location{
	padding: 30px 0;
	color: #fff;
	flex-flow: column;
    justify-content: space-between;
    width: 95%;
}
.select-location h2{
	text-transform: uppercase;
	color: #fff;
	font-size: 32px;
	font-weight: 700;
}
.form-wrap {
	background: #fff;
	display: flex;
	padding: 30px;
	justify-content: space-between;
}
.contact-section{
	padding: 40px 0;
}

.contact-slider {
	width: 48%;
	position: relative;
	overflow: hidden;
}
.contact-slider .swiper-button-next,.contact-slider .swiper-button-prev{
	color: rgba(255,255,255,.8)!important;
	text-shadow: 1px 1px 0 rgb(0 0 0 / 30%);
}
.contact-slider .swiper-button-prev{
	left: -10%;
	transition: 0.3s ease all;
}
.contact-slider .swiper-button-next{
	right: -10%;
	transition: 0.3s ease all;
}
.contact-slider:hover .swiper-button-prev{
	left: 2% ;
}
.contact-slider:hover .swiper-button-next{
	right: 2% ;
}
.contact-slider .swiper-slide img {
	width: 100%;
	object-fit: cover;
	height: 390px;
	display: block;
}
input{
	font-size: 16px;
	background-color: rgba(102,102,102,.15);
	border: 2px solid #fff;
	width: 100%;
	margin: 3px 0;
	height: 40px;
	padding: 0 10px;
}
textarea{
	font-size: 16px;
	background-color: rgba(102,102,102,.15);
	border: 2px solid #fff;
	width: 100%;
	margin: 3px 0;
	padding: 10px;
}
form h2{
	text-transform: uppercase;
	font-weight: 700;
}
.form-input-tripple {
	display: flex;
	justify-content: space-between;
}
.form-input-tripple input{
	width: 30%;
	margin-bottom: 20px;
}
form.form {
	margin-left: 57px;
}
form.form button{
	margin-left: auto;
	display: block;
	margin-top: 20px;
}
.pt-80{
	padding-top: 80px;
}
.promo-block{
	background: url('../images/get-axes.webp') no-repeat;
	background-size: cover;
	padding: 350px 40px 100px;
	text-align: center;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
	background-position: 50% 50%!important;
}
.promo-block::after{
	content: '';
	background: rgb(0 0 0 / 44%);
	z-index: -1;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	position: absolute;
}
.promo-block h2{
	font-weight: 700;
	font-size: 32px;

}
.f-widgets{
	display: flex;
	align-items: center;
	padding: 40px 0;
	color: #fff;
	justify-content: space-between;
}
.f-contact{
	padding: 15px 40px;
	width: 70%;
}
.f-contact p{
	border-bottom: 1px solid #fff;
	padding-bottom: 1rem;
}
.f-contact p:last-child{
	border: none;
}
.f-contact a{
	color: #fff;
}
.f-contact p span{
	width: 100%;
	display: block;
}
.f-contact p span:last-child{
	font-size: 14px;
}
.social-media{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.social-media a i{
	color: #fff;
}
.social-media a{
	width: 50px;
	height: 50px;
	font-size: 24px;
	padding: 4px;
	border-radius: 50%;
	display: flex;
	text-decoration: none;
	align-items: center;
	justify-content: center;
	transition: 0.2s ease all;
}
.social-media a:hover{
	opacity: 0.7;
}
.social-media a{
	margin-left: 12px;
}
.social-media a:first-child{
	margin-left: 0;
}
.social-media .fb{
	background: #3a5998;
}
.social-media .ig{
	background: radial-gradient(circle at 30% 107%,#fdf497 0%,#fdf497 5%,#fd5949 45%,#d6249f 60%,#285aeb 90%)!important;
}

.toggle-button {
	width: 24px;
	height: 24px;
	position: relative;
	z-index: 99;
}
.toggle-button:after {
	content: '';
	position: absolute;
	top: 0;
}
.toggle-button:before {
	content: '';
	position: absolute;
	bottom: 0;
}
.toggle-button:after, .toggle-button:before, .toggle-button span {
	width: 100%;
	height: 2px;
	background: #fff;
	transition: all .3s ease;
}
.toggle-button span {
	background-color: #fff;
	width: 100%;
	height: 2px;
	transition: all .3s ease;
	position: absolute;
	top: 11px;
}
.m-logo img{
	width: 40%;
	margin: auto;
	display: block;
	margin-bottom: -20px;
}
.alt-header {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 100;
	background: #000;
}
.alt-header a{
	color: #fff;
	font-size: 24px;
	text-decoration: none;
	text-transform: uppercase;
}
.mobile-menu{
	margin-bottom: 0;
	position: fixed;
	background: #000;
	width: 100%;
	left: 0;
	height: 100%;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	z-index: -1;
	top: -100%;
	transition: 0.3s ease all;
	text-align: center;
}
.active.mobile-menu{
	top: 0;
	padding-top: 130px;
}
.active.mobile-menu .alt-header a{
	font-size: 28px;
	text-align: center;
}
body.lock{
	overflow: hidden;
}
.mobile-menu li{
	position: relative;
}
.mobile-menu li::before{
	content: '';
	width: 30px;
	height: 1px;
	background: #fff;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.alt-header{
	display: none;
}
